<div class="container">
  <div class="header">
    <img src="../assets/white-full-logo.svg">
    <h1>Rewards Calculator</h1>
  </div>

  <div class="main">
    <div class="main__content">
      <div class="pool">
        <input [(ngModel)]="graffiti" placeholder="Enter Graffiti">
        <label *ngIf="error" style="color: red;">{{error}}</label>
      </div>
      <button class="calculate" (click)="calculate(graffiti)">CALCULATE REWARDS</button>
      <div *ngIf="result" class="results">
        <h2>RESULT</h2>
        <div *ngIf="graffiti && !error">Hello: {{graffiti}}!!!</div>
        <div>YOUR TOTAL REWARDS: {{result | number : '1.3-3'}} $IRON</div>
        <div>PHASE1 REWARDS: {{phase1Rewards | number : '1.3-3'}} $IRON</div>
        <div>PHASE2 REWARDS: {{phase2Rewards | number : '1.3-3'}} $IRON</div>
        <div class="meme-container">
          <div [class]="memeClass"></div>
        </div>
      </div>

      <div class="results">
        <h2>HOW IT WORKS?</h2>
        <p>
          This calculator works based on total points in the Leaderboard. It calculate approximate rewards for both phases
        </p>
        <p>Phase 1 formula: <br/>(420000/total_points_for_phase1)*your_points</p>
        <p>Phase 2 formula: <br/>(210000/total_points_for_phase2)*your_points</p>
        <p>Phase 1/2 for developers: <br/>(105000/total_points_for_pr_in_both_phases)*your_points_for_pr</p>
      </div>
    </div>
  </div>

  <div class="footer">
    Copyright 2022 Anonymous. All rights reserved.
  </div>
</div>
